#logo {
    font-size: 3em;
    text-decoration: none;
    color: #000;
}

.headerlinks {
    font-size: 1.4em;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

header {
    height: 45px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #0000003f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.headerlinks > a {
    margin: 0 20px;
}

.main {
    flex: 1;
    padding: 20px;
}

footer {
    height: 100px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px #0000003f;
}

.footerlinks {
    font-size: 1.4em;
}

#pagecontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}