<div id="detailcom" class="subpadding">
    <h1 class="pulse pagetitle">{{ req.title }}</h1>
    <div class="links">
        <a [routerLink]="['/edit', req.id]" class="button-primary">Eintrag bearbeiten</a>
        <a (click)="remove()" class="button-important">Eintrag löschen</a>
    </div>
    <p class="tp metadata">ID: {{ req.id }} / Priorität: 
        <span *ngIf="req.priority === 0">Optional</span>
        <span *ngIf="req.priority === 1">Niedrig</span>
        <span *ngIf="req.priority === 2">Mittel</span>
        <span *ngIf="req.priority === 3">Hoch</span>
        <span *ngIf="req.priority > 3 || req.priority < 0">Undefiniert</span>
    </p>
    <p class="tp metadata">Beschreibung:</p>
    <p class="tp" id="description">{{ req.description }}</p>
</div>